@import './variables.css';

.header {
  width: 100%;
  padding: var(--padding-xs);
  text-align: right;
  font-family: var(--primary-font);
  margin-top: 1.5rem;
}
.nav-link {
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0 2rem;
  font-size: var(--font-size-3xl);
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 0.2rem;
  background-color: var(--primary-color);
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link:hover::after {
  width: 100%;
}

.detail-image {
  width: 4.5rem;
  margin: 0 3rem 0 3rem; 
}

.detail-header-2 {
  display: flex;
  justify-content: flex-start;
  position: absolute; 
  left: 6rem; 
  width: 15rem;
}

@media (max-width: 1024px) {
  .header {
    padding: var(--padding-sm);
    text-align: center;
  }

  .detail-image {
    width: 3rem;
    margin: 0 1.5rem;
  }

  .detail-header-2 {
    left: 4rem;
    width: 12rem;
  }

  .header a {
    font-size: var(--font-size-lg);
    margin: 0 1rem;
  }

  .nav-link::after {
    height: 0.1rem;
  }
}

@media (max-width: 600px) {
  .header {
    padding: var(--padding-sm);
    text-align: center;
  }
  .detail-image {
    width: 2.5rem;
    margin: 0 1rem;
  }

  .detail-header-2 {
    left: 2rem;
    width: 6rem;
    position: relative;
  }

  .header a {
    font-size: var(--font-size-sm);
    margin: 0 0.5rem;
  }
  .nav-link::after {
    display: none;
  }
}