@import '../components/variables.css';

.about {
  padding: var(--padding-xl);
  color: white;
  background-image: url('/detail-about.png');
  background-position: bottom left;
  background-size: 15%;
  background-repeat: no-repeat;
}

.section-title {
  font-family: var(--primary-font);
  font-size: var(--font-size-6xl);
  margin: 0 0 2rem 6rem;
  display: inline-flex;
  position: relative; 
  align-items: center;
}

.line {
  width: 40rem;
  height: 2px;
  background-color: var(--primary-color);
  margin-left: 6rem;
}

.about-line-image {
  width: 4rem;
  margin-left: 8rem;
}

.section-about {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.skills,
.work,
.education {
  padding: var(--padding-lg);
  border: 2px solid var(--primary-color);
  border-radius: 1.5rem;
  flex: 1;
  font-family: var(--primary-font);
  font-size: var(--font-size-4xl);
  color: var(--primary-color);
}

ul {
  list-style: none;
  padding: var(--padding-none);
}

li {
  margin-bottom: 1rem;
}

.li-title {
  font-family: var(--secondary-font);
  font-size: var(--font-size-lg);
  color: var(--secondary-color);
}

.li-text {
  font-family: var(--secondary-font);
  font-size: var(--font-size-xs);
  color: var(--secondary-color);
  text-align: center;
}

@media (max-width: 1200px) {
  .section-title {
    font-size: var(--font-size-5xl);
    margin: 0 0 2rem 3rem;
  }

  .line {
    width: 30rem;
    margin-left: 3rem;
  }

  .about-line-image {
    width: 3rem;
    margin-left: 6rem;
  }

  .section-about {
    flex-direction: row;
    justify-content: space-between;
  }

  .skills,
    .work,
      .education {
        font-size: var(--font-size-3xl);
        padding: var(--padding-md);
      }
}

@media (max-width: 800px) {
  .section-title {
    font-size: var(--font-size-3xl);
    margin: 0 0 1.5rem 2rem;
  }

  .line {
    width: 25rem;
    margin-left: 2rem;
  }

  .about-line-image {
    width: 3rem;
    margin-left: 4rem;
  }

  .section-about {
    flex-direction: column;
    gap: 2rem;
  }

  .skills,
    .work,
      .education {
        font-size: var(--font-size-2xl);
        padding: var(--padding-sm);
      }
}

@media (max-width: 600px) {
  .section-title {
    font-size: var(--font-size-2xl);
    margin: 0 0 1.5rem 1rem;
  }

  .line {
    width: 20rem;
    margin-left: 1rem;
  }

  .about-line-image {
    width: 2.5rem;
    margin-left: 2rem;
  }

  .section-about {
    flex-direction: column;
    gap: .5rem;
  }

  .skills,
    .work,
      .education {
        font-size: var(--font-size-xl);
        padding: var(--padding-sm);
      }
}

