@import '../components/variables.css';

.banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  color: var(--secondary-color);
  background-image: url('/public/image-banner.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: right center;
  margin: 0 5rem;
  overflow: hidden;
  flex-wrap: wrap;
  position: relative;
}

.banner-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  padding-right: var(--padding-lg);
  order: 2; 
}

.banner-content h1 {
  font-size: var(--font-size-6xl);
  color: var(--primary-color);
  font-family: var(--secondary-font);
  margin: 0; 
  text-align: right; 
}

.banner-content p {
  font-size: var(--font-size-3xl);
  font-family: var(--primary-font);
  margin-top: 1rem;
  text-align: right; 
}

.banner-image {
  display: flex;
  position: absolute;
}

.banner-img {
  width: 20rem;
  height: auto;
}

.banner-detail {
  position: absolute;
  top: 100%;
  width: 4.5rem;
}

.banner-content h1,
.banner-content p {
  margin: 0; 
  text-align: right; 
}

@media (max-width: 1200px) {
  .banner {
    background-size: 25%;
    margin: 0 3rem;
  }

  .banner-content h1 {
    font-size: var(--font-size-5xl);
    margin: 0 3rem;
  }

  .banner-content p {
    font-size: var(--font-size-2xl);
    margin: 0 3rem;
  }

  .banner-img {
    width: 15rem;
  }

  .banner-detail {
    width: 3.5rem;
  }

  .banner-content {
    align-items: flex-end;
    text-align: right;
    margin: 0 1rem;
    order: 2;
  }

  .banner-image {
    position: relative;
    order: 1;
  }
}

@media (max-width: 800px) {
  .banner {
    background-size: 30%;
    margin: 0 1rem;
  }

  .banner-content h1 {
    font-size: var(--font-size-3xl);
    margin: 0 1rem;
  }

  .banner-content p {
    font-size: var(--font-size-xl);
    margin: 0 1rem;
  }

  .banner-img {
    width: 12rem;
  }

  .banner-detail {
    width: 3rem;
  }

  .banner-content {
    align-items: flex-end; 
    text-align: right;
    margin: 0 1rem;
  }
}

@media (max-width: 600px) {
  .banner {
    background-size: 50%;
    background-position: center;
    margin: 0 1rem;
    position: relative;
  }

  .banner-content h1 {
    font-size: var(--font-size-2xl);
    margin: 0 1rem;
  }

  .banner-content p {
    font-size: var(--font-size-md);
    margin: 0 1rem;
  }

  .banner-img {
    width: 8rem;
  }

  .banner-detail {
    width: 2.5rem;
  }

  .banner-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-25%);
  }
}
