@import '../components/variables.css';

.contact {
  padding: var(--padding-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.contacts {
  display: flex;
  padding: var(--padding-4xl);
  width: 50%;
  flex-direction: column;
  align-items: center;
  background-image: url("/contact-image.png");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}


.contact-title {
  font-family: var(--primary-font);
  font-weight: 300;
  color: var(--secondary-color);
  font-size: var(--font-size-6xl);
}

.detail-contact {
  position: absolute;
  width: 4.5rem;
  margin-left: 1rem;
}


.link-title {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  display: inline-flex;
  position: relative; 
  align-items: center;
}

.icon-linkedin {
  width: 2rem;
  margin-right: 1rem;
}

.icon-github {
  width: 1.8rem;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  color: var(--primary-color);
}

