@import '../components/variables.css';

.projects {
  padding: var(--padding-3xl);
  text-align: center;
}

.section-title {
  display: flex;
  justify-content: end;
  margin: 1rem 2rem 2rem 0;
  color: var(--secondary-color);
}

.title-image {
 width: 3rem;
 margin-right: 1rem; 
}

.project-title {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: var(--font-size-lg);
}

.section-projects {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.fitpro,
.disneyCharacters,
.eiTriz {
  border: 2px solid var(--primary-color);
  border-radius: 1.5rem;
  padding: var(--padding-xl);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 300px;
}

.fitpro:hover,
.disneyCharacters:hover,
.eiTriz:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px var(--primary-color);
}

.project-description {
  font-family: var(--secondary-font);
  color: #fff;
  font-size: var(--font-size-xs);
}

.fitpro-image,
.disneyCharacters-image,
.eiTriz-image {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.github-icon {
    width: 2rem;
    margin-right: 1.5rem;
}

.figma-icon {
  width: 1.5rem;
}

@media (max-width: 1200px) {
  .section-title {
    font-size: var(--font-size-5xl);
    margin: 0 2rem 2rem 0;
  }

  .project-title {
    font-size: var(--font-size-md);
  }

  .project-description {
    font-size: var(--font-size-xs);
  }
  .section-projects {
    gap: 1.5rem;
    justify-content: center;
  }

  .fitpro,
  .disneyCharacters,
  .eiTriz {
    font-size: var(--font-size-2xl);
    min-width: 300px;
  }
}

@media (max-width: 800px) {
  .projects {
    padding: var(--padding-2xl);
  }

  .section-title {
    font-size: var(--font-size-3xl);
    margin: 0 1rem 1rem 0;
  }
  
  .project-title {
    font-size: var(--font-size-sm);
  }

  .section-projects {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .fitpro,
  .disneyCharacters,
  .eiTriz {
    font-size: var(--font-size-xl);
    min-width: 100%;
  }
}

@media (max-width: 600px) {
  .projects {
    padding: var(--padding-xl);
  }

  .section-title {
    font-size: var(--font-size-2xl);
    margin: 0 1rem 1rem 0;
  }

  .project-title {
    font-size: var(--font-size-xs);
  }

  .section-projects {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .fitpro,
  .disneyCharacters,
  .eiTriz {
    font-size: var(--font-size-md);
    padding: var(--padding-sm);
  }
}
